body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #283136;
}

a {
  text-decoration: none;
  outline: none;
}
/*// TODO автопрефиксер*/
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main-header, .nerds-slider {
  background-color: #eee;
}

.main-navigation a {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.main-header-logo:hover, .main-header-logo:focus {
  opacity: .8;
}

.main-header-logo:active {
  opacity: .3;
}

.site-navigation, .user-navigation {
  list-style: none;
}

.site-navigation a:hover, .user-navigation a:hover, .site-navigation a:focus, .user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active, .user-navigation a:active {
  color: #a6a6a6;
}

.site-navigation-current {
  border-bottom: solid 2px #fb565a;
}

.button {
  font-weight: 500;
  display: inline-block;
  width: 240px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #fb565a;
}

a.button {
  line-height: 50px;
  vertical-align: middle;
}

.button:hover, .button:focus {
  background-color: #e74246;
}

.button:active {
  color: #e26c6e;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.slider-content:nth-of-type(2), .slider-content:nth-of-type(3) {
  display: none;
}

.slider-title h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 24px;
  color: #000;
}

.nerds-services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.nerds-services a {
  font-weight: 500;
  line-height: 18px;
  width: 160px;
  text-transform: uppercase;
  color: #fff;
}

.service-item-web::before {
  display: block;
  width: 300px;
  height: 146px;
  content: '';
  background-color: #fb565a;
  background-image: url('../img/web-sites-service.png');
  background-repeat: no-repeat;
}

.service-item-web .button {
  line-height: 50px;
  margin-bottom: 80px;
  vertical-align: middle;
}

.service-item-app .button {
  line-height: 50px;
  margin-bottom: 80px;
  vertical-align: middle;
  background-color: #00ca74;
}

.service-item-app .button:hover, .service-item-app .button:focus {
  background-color: #00bc6c;
}

.service-item-app::before {
  display: block;
  width: 300px;
  height: 146px;
  content: '';
  background-color: #00ca74;
  background-image: url('../img/applications-service.png');
  background-repeat: no-repeat;
}

.service-item-app .button:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.service-item-present .button {
  line-height: 50px;
  margin-bottom: 80px;
  vertical-align: middle;
  background-color: #efc84a;
}

.service-item-present .button:hover, .service-item-present .button:focus {
  background-color: #eab534;
}

.service-item-present .button:active {
  color: #edc265;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.service-item-present::before {
  display: block;
  width: 300px;
  height: 146px;
  content: '';
  background-color: #efc849;
  background-image: url('../img/illustrations-service.png');
  background-repeat: no-repeat;
}

.about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000;
}

.tasks-list-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.tasks-list ul {
  list-style: none;
}

.statistics-title {
  font-weight: 700;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #000;
}

.statistics th {
  font-weight: 400px;
  line-height: 18px;
  padding: 5px 0;
  text-align: left;
}

.statistics th:last-child {
  padding-left: 18px;
}

.statistics th:nth-child(2) {
  padding-left: 15px;
}

.statistics td {
  font-size: 45px;
  font-weight: 700;
  padding: 5px 0;
  padding-bottom: 25px;
  text-align: left;
  color: #000;
}

.statistics td:last-child {
  padding-left: 20px;
}

.statistics td:nth-child(2) {
  padding-left: 15px;
}

.statistics sup {
  font-size: 25px;
  font-weight: 500;
  vertical-align: middle;
}

.partners img {
  opacity: .2;
}

.partners a:hover img, .partners a:focus img {
  opacity: 1.0;
}

.partners a:active {
  opacity: .1;
}

.contacts {
  width: 100%;
  height: 416px;
  margin: 0 auto;
  background-color: #f1efe8;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.contacts .button {
  width: 220px;
}

.contacts::before {
  display: block;
  overflow: hidden;
  content: '';
}

.adress {
  width: 270px;
  height: 275px;
  margin-top: 54px;
  padding-top: 30px;
  padding-left: 50px;
  background-color: #fff;
}

.adress h3 {
  font-size: 18px;
  font-weight: 700px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.adress p:nth-of-type(1) {
  line-height: 18px;
  width: 207px;
  padding-top: 5px;
}

.adress p:nth-of-type(2) {
  margin-bottom: 35px;
}

.contacts .container {
  position: relative;
}

.map-marker {
  position: absolute;
  top: 35px;
  left: 700px;
  width: 231px;
  height: 190px;
  background-image: url('../img/map-marker.png');
}

.footer-social h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 3px;
  margin-bottom: 0;
  color: #000;
}

.footer-social p {
  line-height: 22px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-writeus h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #000;
}

.modal-writeus label {
  font-weight: 700;
  line-height: 18px;
  color: #000;
}

.modal-writeus input {
  width: 343px;
  height: 50px;
}

.modal-writeus textarea {
  width: 743px;
  height: 120px;
}

.modal-writeus input, .modal-writeus textarea {
  padding-left: 14px;
  opacity: .6;
  outline: none;
}

.modal-writeus input:hover, .modal-writeus textarea:hover {
  opacity: .8;
}

.modal-writeus input:focus, .modal-writeus textarea:focus {
  opacity: 1;
  color: #444;
  outline: solid 2px #000;
}

.modal-writeus input:invalid {
  color: #e74246;
  border-color: #e74246;
}

.modal-writeus textarea {
  overflow: auto;
  resize: none;
}

.page-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  color: #000;
}

.modal-writeus .button {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.selector-wrapper {
  width: 260px;
  height: 80px;
  margin-top: 50px;
  margin-bottom: 14px;
  background-color: #eee;
}

.price-selector-current-progress {
  position: relative;
  top: 38px;
  left: 30px;
  width: 150px;
  height: 2px;
  background-color: #00ca74;
}

.price-selector-bar {
  position: relative;
  top: 36px;
  left: 168px;
  width: 69px;
  height: 2px;
  background-color: #d7dcde;
}

.price-selector-setter {
  position: relative;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 0 0 #cccdcd;
}

.price-selector-setter.min {
  top: 25px;
  left: 18px;
}

.price-selector-setter.max {
  top: 5px;
  left: 160px;
}

.price-selector label {
  line-height: 22px;
  text-transform: uppercase;
}

.price-field {
  font: inherit;
  width: 80px;
  height: 38px;
  text-align: center;
  color: inherit;
  border: 0;
  background-color: #eee;
}

.filter ul {
  line-height: 20px;
  list-style: none;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.filter-button {
  font-size: 16px;
  font-weight: bold;
  width: 260px;
  color: #000;
  background-color: #eee;
}

.filter-button:hover, .filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.filter-input:hover+label, .filter-input:focus+label {
  color: #000;
}

.filter-input:disabled+label {
  opacity: .5;
}

.sort {
  line-height: 18px;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort p {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.sort-option {
  font-size: 14px;
  color: #b2b2b2;
}

.sort-option:hover, .sort-option:focus {
  color: #666;
}

.sort-option:active {
  color: #000;
}

.current-sort-option {
  color: #000;
}

.catalog-item-description {
  display: none;
  width: 360px;
  height: 231px;
  text-align: center;
  background-color: #eee;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.catalog-item-price .button:hover, .catalog-item-price .button:focus {
  background-color: #e74246;
}

.catalog-item-price .button:active {
  color: #fff;
  background-color: #d7373b;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000;
  background-color: #eee;
}

.pagination-item a:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-item a:hover, .pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a {
  border: solid 3px #eee;
  background-color: #fff;
}


/*сеточки*/


/*body {
  min-width: 1440px;
}*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation-wrapper {
  display: flex;
  width: 1200px;
  justify-content: flex-start;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 50px;
  margin-right: 200px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
  margin-top: 75px;
  padding: 0;
}

.site-navigation li {
  margin: 0;
  margin-right: 50px;
  padding: 0;
}

.site-navigation li:nth-child(3) {
  margin-left: -5px;
  margin-right: 55px;
}
.site-navigation li:nth-child(4) {
  margin-right: 0;
  margin-left: -10px;
}

.user-navigation {
  display: flex;
  width: 180px;
  margin: 0;
  margin-top: 70px;
  margin-left: 177px;
  padding: 0;
  justify-content: flex-end;
}

.user-navigation li {
  display: inline-block;
  margin-top: 5px;
}

.user-navigation .shop-cart::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  content: '';
  background-image: url('../img/cart-icon.svg');
}

.nerds-slider .container {
  display: flex;
  position: relative;
}

.slider-input-wrapper {
  position: absolute;
  top: 360px;
  left: 557px;
}

.slider-content {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;

}

.slider-title {
  width: 420px;
  padding-top: 32px;

}

.slider-title p {
  width: 360px;
  margin-bottom: 40px;
  word-wrap: normal;
}

.slider-content img {
  width: 698px;
  height: 413px;
  margin-left: 10px;
  padding-top: 17px;

}

.nerds-services {
  margin-top: 80px;
}

.service-wrapper {
  display: flex;
  border-bottom: 2px solid #eee;
  justify-content: flex-start;
}

.service-item-web {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.service-item-web h3 {
  margin-bottom: 0px;
}

.service-item-web p {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 34px;
}

.service-item-app {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.service-item-app h3 {
  margin-bottom: 0px;
}

.service-item-app p {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 34px;
}

.service-item-present {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: flex-start;
  align-items: flex-start;
}

.service-item-present h3 {
  margin-bottom: 0px;
}

.service-item-present p {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 34px;
}

.description-wrapper {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.about-title {
  margin-bottom: 30px;
}

.tasks-list {
  margin-top: 40px;
}

.tasks-list ul {
  margin: 0;
  margin-top: 23px;
  padding: 0;
}

.tasks-list li {
  position: relative;
  padding-left: 34px;
  margin-bottom: 24px;
}

.tasks-list li::before {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 16px;
  margin-right: 10px;
  content: '';
  left: 2px;
  top:12px;
  border-top: 2px solid #fb565a;
}

.about {
  width: 660px;
  margin-right: 140px;
}

.statistics {
  display: flex;
  flex-direction: column;
  width: 360px;
  justify-content: flex-start;
  align-items: center;
}

.nerds-logo {
  margin-top: 8px;
  margin-bottom: 31px;
}

.statistics-results {
  display: flex;
  flex-direction: row-reverse;
}

.partners {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
  padding: 40px 0;
  padding-left: 30px;
  list-style: none;
  align-self: center;
  justify-content: flex-start;
}

.partners li {
  position: relative;
  align-self: center;
}

.partners li:not(:last-child)::after {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 52px;
  content: '';
  background-color: #eee;
}

.partners li:nth-of-type(1)::after {
  top: 18px;
  right: 43px;
}

.partners li:nth-of-type(2)::after {
  right:  56px;
  top: 18px;
}

.partners li:nth-of-type(3)::after {
  top: 0;
  right: 62px;
}

.partners li:nth-child(1) {
  padding-right: 95px;
  padding-top: 15px;
}

.partners li:nth-child(2) {
  padding-right: 104px;
}

.partners li:nth-child(3) {
  padding-right: 121px;
}

.partners li:nth-child(4) {
  padding-top: 10px;
}

.footer-social.container {
  display: flex;
  align-items: center;
}

.footer-social .social-webs {
  width: 280px;
  margin-top: 50px;
  margin-right: 180px;
}

.social-webs li {
  display: inline-block;
  margin-top: 16px;
  margin-right: 8px;
}

.social-button {
  display: block;
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.social-button-vk::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 23px;
  left: 24px;
  background-image: url('../img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-vk:active::before {
  opacity: 0.3;
}

.social-button-fb::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 23px;
  left: 24px;
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-fb:active::before {
  opacity: 0.3;
}

.social-button-inst::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 23px;
  left: 24px;
  background-image: url('../img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-inst:active::before {
  opacity: 0.3;
}
.footer-social-title {
  width: 560px;
  margin-top: 35px;
  margin-left: -60px;
  order: 2;
}

.footer-social-title p {
  margin-top: 10px;
}

/*TODO don't forget to hidden*/
.modal-writeus {
  margin-left: 120px;
  display: none;
}

.modal-writeus form {
  display: flex;
  flex-wrap: wrap;
}

.modal-writeus .name {
  width: 360px;
  margin-right: 40px;
}

.modal-writeus .email {
  width: 360px;
}

.modal-writeus .text {
  width: 760px;
  margin-right: 220px;
}

.page-title {
  padding-top: 40px;
  padding-bottom: 110px;
}

.shop-wrapper {
  display: flex;
  padding-top: 15px;
}

.filters {
  width: 260px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.filters fieldset {
  padding: 0;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.sort {
  display: flex;
  width: 760px;
  margin: 0 auto;
  justify-content: space-between;
}

.sort ul {
  display: flex;
}

.sort-options {
  width: 280px;
  justify-content: space-between;
}

.catalog-items-wrapper {
  display: flex;
  width: 760px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 33px;
}

.catalog-item-description {
  margin-top: -255px;
  order: 1;
}

.pagination-list {
  display: flex;
  width: 760px;
}
